<div class="row">
    <div ng-class-odd="'fadeInLeft'" ng-class-even="'fadeInRight'" class="col-xs-12 col-sm-12 i wow fadeInLeft animated" data-wow-duration="0.5s" data-wow-delay="0.1s">
        <h3 class="text-center">{{feature.title}}</h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="icon col-md-6 col-md-offset-3 col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="c">
                        <div class="fill">
                            <img ng-src='http://cdn.orator-club.by/assets/features/{{feature.img}}.png' alt="{{feature.title}}" height="150" width="150" class="img-responsive about"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="dotted-break">
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div  class="col-xs-12 col-md-12 col-lg-12">
                <p class="text-center">{{feature.text}}</p>
            </div>
        </div>
    </div>
</div>