<div id="wrapper">

    <!-- Home: carousel -->
    <div id="home" class="section carousel slide home-carousel carousel-fade" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item item-{{$index+1}}" ng-class="{active: $index==0}" ng-repeat="text in carousel_texts">
          <div class="container">
            <div class="content">
              <div class="wow bounceInDown" data-wow-duration=".5s" data-wow-delay="0.5s">
                <img src="http://cdn.orator-club.by/assets/white_micro.png" class="img-responsive carusel-logo" alt="Micro image">
              </div>
              <div class="text font-white">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <h1>Ораторский клуб</h1>
                    <h1>в Минске</h1>
                    <!-- <h2 class="wow bounceInDown">{{ text }}</h2> -->
                    <h3>каждый четверг в 19.00</h3>
                    <h2>Учим мыслить и выражать свои мысли.</h2>
                    <h3>Первый раз - бесплатно!</h3>
                  </div>
                </div>
              </div>
              <a class="j-scroll btn btn-lg to-contacts" href="#contact">Запишись на встречу</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Controls -->
     <!--  <div class="carousel-controls">
        <div class="carousel-nav">
          <div class="container">
            <a href="#home" class="prev carousel-control" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a href="#home" class="next carousel-control" data-slide="next"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div> -->

      <!-- Scroll to the next section -->
      <a class="j-scroll scrollDown" href="#features">
        <span class="fa fa-arrow-circle-down"></span>
      </a>
    </div>

    <!-- Header -->
    <div ng-controller="HeaderCtrl">
        <page-header></page-header>
    </div>

    <!-- Section: Services -->
    <section id="features" ng-controller="FeaturesCtrl">
      <div class="container">
        <!-- Header -->
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>Боишься публичных выступлений?</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <!-- <div ng-repeat="phrase in phrases">
                 <h2>{{phrase}}</h2>
              </div> -->
              <p>
                Приходи в Ораторский Клуб и мы поможем преодолеть свой страх.
                Ты научишься владеть временем, управлять своими эмоциями,
                вызывать необходимые чувства аудитории.
              </p>
              <b>Ты приобретешь уверенность в себе.</b>
            </div>
          </div>
        </header>

        <!-- Content -->
        <!-- <div ng-repeat="feature in features">
            <feature></feature>
        </div> -->
      </div>
    </section>

    <!-- Video -->
    <section class="video">
      <div class="parallax js-video" data-mfp-src="https://www.youtube.com/watch?v=7jSBQRGUyts">
        <div class="container content">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <span class="icon">
                <i class="fa fa-play"></i>
              </span>
              <h2>Посмотри видео и узнай больше об ораторском клубе</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section id="services">
      <div class="container">
        <!-- Header -->
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>Что такое Ораторский Клуб?</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class='motive'>
                <em>
                  Мы - это люди, которые развивают свое мышление, свою речь, свое ораторское мастерство.
                </em>
              </div>
              <p>У нас нет учеников и учителей, у нас нет великого гуру и волшебных таблеток. Зато у нас есть огромное желание становиться лучше, узнавать новое, добиваться большего, учиться и обучать других, с юмором преодолевать сложности, экспериментировать и преображать мир. У нас есть честная возможность дать бой своим страхам, слабостям и ограничениям, принять вызов за право быть самим собой.</p>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class='motive'>
                <em>Ораторский Клуб - это лаборатория нового опыта.</em>
              </div>
            </div>
            <a class="j-scroll btn btn-lg to-contacts" href="#contact">Запишись на встречу</a>
          </div>
        </header>

        <!-- Content -->
        <!-- <div ng-repeat="feature in features">
            <feature></feature>
        </div> -->
      </div>
    </section>

        <!-- Counter -->
    <section class="counter striped-image">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 i">
            <i class="fa fa-trophy icon"></i>
            <h3 class="timer" data-to="38" data-speed="3000">34</h3>
            <h4>Проведено встреч ораторского клуба</h4>
          </div>
          <div class="col-xs-12 col-sm-4 i">
            <i class="fa fa-smile-o icon"></i>
            <h3 class="timer" data-to="1310" data-speed="3000">120</h3>
            <h4>Участников клуба</h4>
          </div>
          <div class="col-xs-12 col-sm-4 i">
            <i class="fa fa-clock-o icon"></i>
            <h3 class="timer" data-to="180" data-speed="3000">180</h3>
            <h4>Длительность одной встречи в минутах</h4>
          </div>
        </div>
      </div>
    </section> 

    <!-- Portfolio -->
    <section id="portfolio">
      <div class="container">
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>Наши форматы</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
                      <i class="fa fa-microphone fa-5x"></i>
                      <h3>1.  Свободный микрофон</h3>
                      <p>5 минут на сцене для каждого! У каждой встречи, есть тема, на которую Вы можете подготовиться и выступить в Ораторском Клубе.</p>
                      <br>
                  </div>
                  <div class="col-md-6">
                      <i class="fa fa-music fa-5x"></i>
                      <h3>2.  Поэтический вечер</h3>
                      <p>В поисках вдохновения! Встреча на которой мы читаем на сцене стихи. поем песни и самовыражаемся.</p>
                      <br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <i class="fa fa-book fa-5x"></i>
                      <h3>3.  Тренинг</h3>
                      <p>Развитие в нашей крови! В рамках клуба проводится тренинг или мастер-класс на тему коммуникации или ораторского мастерства.</p>
                      <br>
                  </div>
                  <div class="col-md-6">
                      <i class="fa fa-bullhorn fa-5x"></i>
                      <h3>4.  Дебаты</h3>
                      <p>Я знаю силу слов! На повестку встречи выносятся спорные темы. Готовим аргументацию и отстаиваем свои позиции.</p>
                      <br>
                  </div>
              </div>
            </div>
            <br>
            <a class="j-scroll btn btn-lg to-contacts" href="#contact">Запишись на встречу</a>
          </div>
        </header>
      </div>
    </section>

    <!-- Testimonials -->
    <section id="testimonials" >
      <div class="container">
        <div class="row">
          <div class="j-carousel">
            <div class="item col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ng-repeat="testimonial in testimonials">
              <blockquote>
                <i class="fa quotes fa-quote-left"></i>
                <h3>{{testimonial.quote}}</h3>
                <cite>- {{testimonial.author}} -</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

        <!-- Portfolio -->
    <section id="portfolio">
      <div class="container">
        <header>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h1>Как это происходит?</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <br>
              <i class="fa fa-child fa-5x"></i>
              <h3>1. Знакомство</h3>
              <p>Сначала мы знакомимся, разряжаем обстановку и создаем атмосферу взаимного развития.</p>
              <hr>
              <i class="fa fa-microphone fa-5x"></i>
              <h3>2.  Выступления</h3>
              <p>В зависимости от формата мы выступаем, обсуждаем или тренируемся.</p>
              <hr>
              <i class="fa fa-coffee fa-5x"></i>
              <h3>3.  Неформальное общение</h3>
              <p>У нас есть 20-минутная кофе пауза для неформального общения, где можно лично пообщаться с каждым участником и приобрести ценные связи.</p>
              <br>
            </div>
            <div class="col-md-12">
                <a class="j-scroll btn btn-lg to-contacts" href="#contact">Запишись на встречу</a>
            </div>
          </div>
        </header>
      </div>
    </section>

    <!-- About -->
    <section id="about" >
      <div class="container">
        <!-- Header -->
        <header class="font-white">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>Миссия Ораторского клуба?</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <p>
                “Когда я его начинал, он был лишь площадкой для тренингов по ораторскому мастерству.
                Но от своей природы не убежишь…
                И он стал тем, чем и должен был стать. Местом развития. Местом освобождения от страха и обретения уверенности. Местом понимания и насыщения. Местом развития внутренней Силы и раскрытия индивидуальности. Местом творчества.”
              </p>
              <i>Максим Ганисевский - Основатель Ораторского Клуба</i>
            </div>
          </div>
        </header>

      </div>
    </section>
    
    <!-- Charts -->
    <!-- <section class="charts">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 i">
            <div class="chart" data-percent="48"><span>48%</span></div>
            <h3>Свободный</h3>
            <h4>Посмотри как выступют другие</h4>
          </div>
          <div class="col-xs-12 col-sm-4 i">
            <div class="chart" data-percent="86"><span>86%</span></div>
            <h3>Основной</h3>
            <h4>Начни выступать</h4>
          </div>
          <div class="col-xs-12 col-sm-4 i">
            <div class="chart" data-percent="80"><span>80%</span></div>
            <h3>Мастерская</h3>
            <h4>Пройди полный курс по улучшению ораторских навыков</h4>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Team -->
    <section id="team">
      <div class="container">
        <!-- Header -->
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
              <h1>Наша команда</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <!-- <h2>Creative brains</h2> -->
              <p>Люди прилогающие свои усилия для того, чтобы ораторский клуб развивался и процветал. Чтобы в Минске существовало место где каждый может выступить, расказать, попрактикаваться.</p>
            </div>
          </div>
        </header>

        <!-- Content -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 i wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.1s">
            <div class="c">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <div class="share">Share</div>
                    <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=100005137860298&fref=ts" title="#"><i class="fa fa-facebook"></i></a>
                      <a href="http://vk.com/id96193597" title="#"><i class="fa fa-vk"></i></a>
                    </div>
                  </div>
                </div>
                <img src="http://cdn.orator-club.by/assets/taniya.jpg" alt="Гаврилович Таня" width="600" height="350" class="img-responsive">
              </div>
            </div>
            <h3>Гаврилович Татьяна</h3>
            <h4>Фотограф и хранитель спокойствия</h4>
            </div>
          <div class="col-xs-12 col-sm-4 i wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <div class="c">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <div class="share">Share</div>
                    <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=100004072190315" title="#"><i class="fa fa-facebook"></i></a>
                      <a href="http://vk.com/ganisevski" title="#"><i class="fa fa-vk"></i></a>
                    </div>
                  </div>
                </div>
                <img src="http://cdn.orator-club.by/assets/maxim.jpg" alt="Ганисевский Максим" width="310" height="310" class="img-responsive">
              </div>
            </div>
            <h3>Ганисевкий Максим</h3>
            <h4>Ведущий и создатель, тренер и вдохновитель</h4>
            </div>
          <div class="col-xs-12 col-sm-4 i wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <div class="c">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <div class="share">Share</div>
                    <div class="social">
                      <a href="https://www.facebook.com/dkremez" title="#"><i class="fa fa-facebook"></i></a>
                      <a href="https://twitter.com/KremeZzz" title="#"><i class="fa fa-twitter"></i></a>
                      <a href="http://vk.com/dkremez" title="#"><i class="fa fa-vk"></i></a>
                    </div>
                  </div>
                </div>
                <img src="http://cdn.orator-club.by/assets/dima.jpg" alt="Кремез Дима" width="310" height="310" class="img-responsive">
              </div>
            </div>
            <h3>Кремез Дмитрий</h3>
            <h4>Технический директор и организатор</h4>
            </div>
        </div>
      </div>
    </section>

        <!-- Social -->
    <section id="social">
      <div class="container">
        <div class="row">
          <!-- Carousel -->
          <div class="j-carousel">
            <!-- Carousel item -->
            <div class="item col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
              <span class="fa fa-twitter icon"></span>
              <p>Заговори, что бы я тебя увидел!</p>
              <div class="author">- Сократ -</div>
            </div>
            <!-- Carousel item -->
            <div class="item col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
              <span class="fa fa-twitter icon"></span>
              <p>Хорошо говорить - означает просто хорошо думать вслух.</p>
              <div class="author">- Ренан -</div>
            </div>
            <!-- Carousel item -->
            <div class="item col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
              <span class="fa fa-twitter icon"></span>
              <p>Устное слово всегда плодотворнее письменного: оно живит душу слушающего и говорящего.</p>
              <div class="author">- А. Кони -</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="why">
      <div class="container">
        <!-- Header -->
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
              <h1>Почему ораторский клуб?</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
            </div>

          </div>
        </header>
        <br>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="col-xs-6 col-md-4 wow fadeInLeft">
              <div class="thumbnail">
                <span class="fa fa-child"></span>
                <h3>Регулярная практика.</h3>
              </div>
            </div>
            <div class="col-xs-6 col-md-4 wow fadeInDown">
              <div class="thumbnail">
                 <span class="fa fa-fire "></span>
                 <h3>Живая атмосфера.</h3>
              </div> 
            </div>
            <div class="col-xs-6 col-md-4 wow fadeInRight">
              <div class="thumbnail">
                <span class="fa fa-bullhorn "></span>
                <h3>Различные форматы.</h3>
              </div>   
            </div>
            <div class="col-xs-6 col-md-4 wow fadeInLeft">
              <div class="thumbnail">
                <span class="fa fa-music "></span>
                <h3>Творческая мастерская.</h3>
              </div>
            </div>
            <div class="col-xs-6 col-md-4 wow fadeInUp">
              <div class="thumbnail">
                <span class="fa fa-group"></span>
                <h3>Взаимопощь участников.</h3>
              </div> 
            </div>
            <div class="col-xs-6 col-md-4 wow fadeInRight">
              <div class="thumbnail">
                <span class="fa fa-comments-o"></span>
                <h3>Честная обратная связь.</h3>
              </div>   
            </div>
          </div>
        </div>

        <!-- Content -->
        <!-- <div ng-repeat="feature in features">
            <feature></feature>
        </div> -->
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <!-- Header -->
        <header class="font-white">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
              <h1>Приходи!</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <h3>У тебя есть все, что тебе нужно! Осталось лишь сделать шаг к себе:)</h3>
              <p>Лофт Проект "БАЛКИ"</p>
              <p>ул. Чапаева, д. 3, блок 202, 10 мин. от ст.м. Площадь Победы.</p>
              <b>Первая встреча беплатно!</b>
            </div>
          </div>
        </header>

        <!-- Content -->    
        <div class="row">
          <div class="col-xs-12 info">
            <span class="wow fadeInRight" data-wow-delay="0.2s"><i class="fa fa-location-arrow icon"></i>
              <p>ул. Чапаева, д. 3, блок 202</p>
            </span>
            <span class="wow fadeInRight" data-wow-delay="0.4s"><i class="fa fa-envelope-o icon"></i> orator-club@gmail.com</span>
            <span class="wow fadeInRight" data-wow-delay="0.6s"><i class="fa fa-phone icon"></i>+375(25) 749 09 10</span>
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-controller="EntryCtrl">
              <form role="form" ng-submit="save()" data-parsley-validate>
              <input ng-model='entry.name' type="text" class="form-control wow fadeInLeft" data-wow-delay="0.2s" placeholder="Имя" required data-parsley-error-message="Введи имя">
              <input ng-model='entry.phone' type="text" class="form-control wow fadeInLeft" data-wow-delay="0.2s" placeholder="Телефон" required data-parsley-error-message="Введи телефон">
              <input ng-model='entry.email' type="email" class="form-control wow fadeInLeft" data-wow-delay="0.4s" placeholder="Email" required data-parsley-error-message="Введи email">
              <button type="submit" class="btn btn-lg wow fadeInUp" data-wow-delay="1s">Подать заявку</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Google map -->
    <div class="googleMapWrap">
      <div id="googleMap" class="wow flipInX" data-lat="53.904563" data-lng="27.588063"></div>
    </div>

    <section id="media-group">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
                        <h1>Присоединяйтесь к нам в социальных сетях!</h1>
                        <div class="dotted-break">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-8 col-sm-offset-2 wow fadeInLeft vk">
                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "470", height: "260", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 44089177);
                    </script>
                </div>
                <div class="col-md-6 col-md-offset-0 col-xs-12 col-sm-8 col-sm-offset-2 wow fadeInRight facebook">
                    <!-- VK Widget -->
                    <div class="fb-like-box" data-href="https://www.facebook.com/goupby?ref=bookmarks" data-width="470" data-height="260" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
      <div class="social">
        <a href="https://www.facebook.com/goupby" title="#" class="icon"><i class="fa fa-facebook"></i></a>
        <a href="http://vk.com/orator_club_by" title="#" class="icon"><i class="fa fa-vk"></i></a>
      </div>

      <div>© 2014 Orator Club / All rights reserved</div>
    </footer>

  </div>

  <!-- Modals -->
  <div class="modal fade" id="newEntry" tabindex="-1" role="dialog" aria-labelledby="newEntry" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times"></span></button>
          <h4 class="modal-title success" id="newEntry">Заявка принята!</h4>
          <div class="info subtitle hide"><span class="fa fa-calendar"></span> 26th march 2014  |  <span class="fa fa-user"></span> John Doe</div>
        </div>
        <p class="intro alert-success">Спасибо за регистрацию, с вами вскоре свяжется консультант ораторского клуба.</p>
        <div class="modal-body">
          <p>Пока подребнее узнать об ораторском клубе вы можете на странице группы вконтакте:
              <a href="http://vk.com/orator_club_by" title="Ораторский Клуб в Минске"><i class="fa fa-vk"></i></a></p>
        </div>
      </div>
    </div>
  </div>