<div id="wrapper">

    <!-- Home: carousel -->
    <div id="home" class="section carousel home-carousel" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item item-2 active">
          <div class="container">
            <div class="content">
              <div class="wow bounceInDown" data-wow-duration=".5s" data-wow-delay="0.5s">
                <img src="http://cdn.orator-club.by/assets/white_micro.png" class="img-responsive carusel-logo" alt="Micro image">
              </div>
              <div class="text font-white">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <h1>ТРИ КИТА</h1>
                    <h1>ПУБЛИЧНОЙ РЕЧИ</h1>
                    <!-- <h2 class="wow bounceInDown">{{ text }}</h2> -->
                    <h3>19 МАЯ 19:00</h3>
                    <h3>Интерактивный мастер-класс Максима Ганисевского</h3>
                    <h3>Минск, Змитрока Бядули, 13</h3>
                  </div>
                </div>
              </div>
              <a class="j-scroll btn btn-lg to-contacts" href="#contact">Записаться</a>
            </div>
          </div>
        </div>
      </div>



      <!-- Controls -->
     <!--  <div class="carousel-controls">
        <div class="carousel-nav">
          <div class="container">
            <a href="#home" class="prev carousel-control" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a href="#home" class="next carousel-control" data-slide="next"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div> -->
          <!-- Team -->

      <!-- Scroll to the next section -->
      <a class="j-scroll scrollDown" href="#features">
        <span class="fa fa-arrow-circle-down"></span>
      </a>
    </div>

    <!-- Header -->
    <div ng-controller="HeaderCtrl">
        <page-header></page-header>
    </div>

    <!-- Section: Services -->
    <section id="team" ng-controller="FeaturesCtrl">
      <div class="container">
        <!-- Header -->
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>Вы боитесь публичных выступлений?</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <!-- <div ng-repeat="phrase in phrases">
                 <h2>{{phrase}}</h2>
              </div> -->
              <p>
                Максим Ганисевский поможет вам преодолеть свой страх. Вы
                научитесь владеть временем, управлять своими эмоциями, вызывать
                необходимые чувства аудитории.
              </p>
              <b>Вы приобретете уверенность в себе!</b>
            </div>
          </div>
        </header>
        <!-- Content -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4 i wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <div class="c">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <div class="share">Share</div>
                    <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=100004072190315" title="#"><i class="fa fa-facebook"></i></a>
                      <a href="http://vk.com/ganisevski" title="#"><i class="fa fa-vk"></i></a>
                    </div>
                  </div>
                </div>
                <img src="http://cdn.orator-club.by/assets/maxim.jpg" alt="Ганисевский Максим" width="310" height="310" class="img-responsive">
              </div>
            </div>
            <h3>Ганисевкий Максим</h3>
            <h4>Основатель «Ораторского Клуба»</h4>
            <p>Бизнес-тренер и предприниматель</p>
            <p>Эксперт в теме лидерства и ораторского мастерства</p>
            <h4>Интересные факты о Максиме</h4>
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-3 i wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <ol style='text-align: left;'>
              <li>Профессиональный спикер-мотиватор</li>
              <li>Автор статей на темы: Лидерства, Харизмы, Ораторского искусства</li>
              <li>Коуч и консультант по вопросам публичных выступлений, продаж и переговоров</li>
              <li>Тренер с более чем 3 летним практическим опытом</li>
              <li>Учредитель творческой лаборатории «Кислород»</li>
              <li>Создатель уникальной «Ораторской Мастерской»</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Video -->
    <section class="video">
      <div class="parallax js-video" data-mfp-src="https://www.youtube.com/watch?t=268&v=kJOH8MrkGsQ">
        <div class="container content">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
              <span class="icon">
                <i class="fa fa-play"></i>
              </span>
              <h2>Вместо текста посмотрите результаты наших выпускников</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section id="services">
      <div class="container">
        <!-- Header -->
        <header>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h1>Для кого мастер-класс</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <p>Руководители компаний, Собственники бизнеса, Начинающие предприниматели, IT специалисты, PR-менеджеры, Журналисты, Маркетологи, Тренеры, Все, кто хочет преодолеть свои страхи и обрести уверенность, Все, кто хочет научиться навыкам публичных выступлений</p>
            </div>
          </div>
          <hr>
          <br>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h1>Программа мастер-класса</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <ol style='text-align: left;'>
                <li>Ораторское мастерство, как путь лидера.</li>
                <li>Базовые инструменты оратора.</li>
                <li>3 главных секрета публичного выступления.</li>
                <li>Тренер с более чем 3 летним практическим опытом</li>
                <li>Упражнение Зеркало.</li>
                <li>Упражнение Интервью.</li>
              </ol>
            </div>
            <div class="col-md-12">
                <a class="j-scroll btn btn-lg to-contacts" href="#contact">Записаться</a>
            </div>
          </div>
        </header>

        <!-- Content -->
        <!-- <div ng-repeat="feature in features">
            <feature></feature>
        </div> -->
      </div>
    </section>
    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <!-- Header -->
        <header class="font-white">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
              <h1>Приходи!</h1>
              <div class="dotted-break">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <h3>19 МАЯ 19:00</h3>
              <p>Минск, Змитрока Бядули, 13</p>
            </div>
          </div>
        </header>

        <!-- Content -->
        <div class="row">
          <div class="col-xs-12 info">
            <span class="wow fadeInRight" data-wow-delay="0.2s"><i class="fa fa-location-arrow icon"></i>
              <p>Минск, Змитрока Бядули, 13</p>
            </span>
            <span class="wow fadeInRight" data-wow-delay="0.4s"><i class="fa fa-envelope-o icon"></i> orator-club@gmail.com</span>
            <span class="wow fadeInRight" data-wow-delay="0.6s"><i class="fa fa-phone icon"></i>+375(25) 749 09 10</span>
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-controller="EntryCtrl">
              <form role="form" ng-submit="save()" data-parsley-validate>
              <input ng-model='entry.name' type="text" class="form-control wow fadeInLeft" data-wow-delay="0.2s" placeholder="Имя" required data-parsley-error-message="Введи имя">
              <input ng-model='entry.phone' type="text" class="form-control wow fadeInLeft" data-wow-delay="0.2s" placeholder="Телефон" required data-parsley-error-message="Введи телефон">
              <input ng-model='entry.email' type="email" class="form-control wow fadeInLeft" data-wow-delay="0.4s" placeholder="Email" required data-parsley-error-message="Введи email">
              <button type="submit" class="btn btn-lg wow fadeInUp" data-wow-delay="1s">Подать заявку</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Google map -->
    <div class="googleMapWrap">
      <div id="googleMap" class="wow flipInX" data-lat="53.902422" data-lng="27.585026"></div>
    </div>

    <section id="media-group">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
                        <h1>Присоединяйтесь к нам в социальных сетях!</h1>
                        <div class="dotted-break">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-8 col-sm-offset-2 wow fadeInLeft vk">
                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "470", height: "260", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 44089177);
                    </script>
                </div>
                <div class="col-md-6 col-md-offset-0 col-xs-12 col-sm-8 col-sm-offset-2 wow fadeInRight facebook">
                    <!-- VK Widget -->
                    <div class="fb-like-box" data-href="https://www.facebook.com/goupby?ref=bookmarks" data-width="470" data-height="260" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
      <div class="social">
        <a href="https://www.facebook.com/goupby" title="#" class="icon"><i class="fa fa-facebook"></i></a>
        <a href="http://vk.com/orator_club_by" title="#" class="icon"><i class="fa fa-vk"></i></a>
      </div>

      <div>© 2014 Orator Club / All rights reserved</div>
    </footer>

  </div>

  <!-- Modals -->
  <div class="modal fade" id="newEntry" tabindex="-1" role="dialog" aria-labelledby="newEntry" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times"></span></button>
          <h4 class="modal-title success" id="newEntry">Заявка принята!</h4>
          <div class="info subtitle hide"><span class="fa fa-calendar"></span> 26th march 2014  |  <span class="fa fa-user"></span> John Doe</div>
        </div>
        <p class="intro alert-success">Спасибо за регистрацию, с вами вскоре свяжется консультант ораторского клуба.</p>
        <div class="modal-body">
          <p>Пока подребнее узнать об ораторском клубе вы можете на странице группы вконтакте:
              <a href="http://vk.com/orator_club_by" title="Ораторский Клуб в Минске"><i class="fa fa-vk"></i></a></p>
        </div>
      </div>
    </div>
  </div>
